@font-face {
    font-family: 'Comfortaa';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
}
@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
}

/* Steps 1-3 Boxes */

.box_container{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  gap: 2vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 10vh;
  justify-content: center;
}

.box {
  padding: 7px;
  /* will remove border later */
  /* border: 1px solid white; */
  overflow: hidden;
  padding-bottom: 30vh;
}

.circle {
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
  background: #FFD392;
  border: 1px solid #FFD392;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h2 {
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 6vh;
}

.rectangle {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  top: -11vh;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.2);
}

h3 {
  color: #000;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-size: 5vh;
  text-align: center;
  padding-top: 15vh;
}

p {
  color: black;
  font-size: 3vh;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  text-align: center;
  color: #4D368C;
  font-family: 'Playfair Display', serif;
  font-size: 7vh;
  padding-top: 2vh;
}

/* navigation options */

getstarted p {
    text-align: center;
}

addpeople p {
  text-align: center;
}

choosedt p {
  text-align: center;
}

meeting p {
  text-align: center;
}

signin{
  display: block;
  width: 200%;
  padding-left: 100px;
}

calendar {
  width: 70%;
  display: block;
  color: black;
  background-color: white;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 25px solid white;
  border-radius: 2.5%;
  /*box-shadow: 7px 7px 7px rgb(117, 117, 117);*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .event_hover {
    cursor: pointer;
  }

  .page-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.8rem;
    padding: 0;
  }

  .page-desc {
    font-size: 1.2rem;
    margin: 0.8rem;
    padding: 0;
  }