@font-face {
  font-family: 'Poppins';
  font-family: 'Corben';
  font-family: 'Nobile';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
  src: url('http://fonts.googleapis.com/css?family=Corben:bold');
  src: url('http://fonts.googleapis.com/css?family=Nobile');
}


body {
  /*
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧀</text></svg>") 16 0, auto;
  */
}

a {
  /*
  cursor: inherit;
  */
}

/* MeetingList.js */

h5 {
color: #4D368C;
font-family: 'Corben', Georgia, Times, serif;
font-weight: 550;
font-size: 4vh;
margin: 0;
margin-top: auto;
}

.meetings-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 3vh;
  padding-left: 3vh;
  margin-bottom: 10px;
}

.meetings-header p {
color:gray;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
font-weight: 600;
font-size: 15px;
margin: 0;
margin-top: 4px;
margin-left: 15px;
}

p3 {
  color:black;
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-top: 4px;
  margin-left: 15px;
}

.meeting-id {
color:white;
font-family: 'Poppins', sans-serif;
margin-left: 15px;
}

.left-column p1 {
font-family: 'Poppins', sans-serif;
font-size: 3vh;
font-weight: 500;
color: black;
display: flex;
justify-content: center; 
text-align: center;
margin-top: 10px;
}

.left-column p2 {
font-family: 'Poppins', sans-serif;
font-size: 3vh;
color: gray;
font-weight: 100;
display: flex;
justify-content: center; 
text-align: center;
}

/* Calendar.js */

.all-buttons{
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300 !important;
  margin-top: 35px;
  padding-top: 0px;
  line-height: 35px;
  color: black;
  font-weight: 100;
  display: flex;
  justify-content: center; 
  text-align: center;
  display: block;
  background-color: white;
  letter-spacing: -1px;
  width: 380px;
  height: 400px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.all-buttons h4 {
  margin-bottom: 10px !important;
}
.button-spacing {
  margin-bottom: 8px;
}


.flex-container{
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
padding-left: 4vh;
padding-right: 4vh;
gap: 3vh;
}

.left-column {
flex-basis: 20%;
}

.left-column-contents {
/* background-color: white; */
/* background-image: linear-gradient(white, #f1e8e8); */
padding-bottom: 7vh;
border-radius: 6%;
padding-left: 7px;
padding-right: 7px;
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}

.left-column p {
font-family: 'Nobile', Helvetica, Arial, sans-serif;
font-size: 3vh;
color: black;
justify-content: center; 
text-align: center;
margin-top: 25px;
margin-bottom: 0;
}

.left-column h4 {
font-family: 'Nobile', Helvetica, Arial, sans-serif;
font-size: 4vh;
color: #4D368C;
font-weight: 600;
justify-content: center; 
text-align: center;
padding-top: 5vh;
margin-bottom: 0;
}

.right-column {
flex-grow: 1;
}

calendar {
width: 90%;
display: block;
color: black;
background-color: white;
margin-top: 2rem;
margin-left: 0;
margin-right: 0;
margin-bottom: 2rem;
border: 25px solid white;
border-radius: 2.5%;
/*box-shadow: 7px 7px 7px rgb(117, 117, 117);*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.times {
display: flex;
align-items: center;
justify-content: center;
margin-top: 24px;
margin-bottom: 28px;
}

input {
background-color: #d3d3d3;
border-radius: 10px;
font-family: 'Poppins', sans-serif;
}

/* Getting Started */

.box-container{
display: grid;
height: 100vh;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1fr;
gap: 2vh;
padding-left: 10vh;
padding-right: 10vh;
padding-bottom: 10vh;
justify-content: center;
}

.box {
padding: 7px;
overflow: hidden;
padding-bottom: 30vh;
}

.circle {
border-radius: 50%;
width: 12vh;
height: 12vh;
/* background: #cdecff; */
/* border: 1px solid #cdecff; */
background-image: linear-gradient(#43b7ff, #cdecff);
margin: 0 auto;
position: relative;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
}

.circle h2 {
color: #4D368C;
font-family: 'Corben', Georgia, Times, serif;
font-weight: 600;
font-size: 5vh;
}

.rectangle {
position: relative;
/* background: white; */
background-image: linear-gradient(white, #e2d8d8);
height: 100%;
top: -11vh;
border-radius: 8px;
/* box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.2); */
}

h3 {
color: #000;
font-family: 'Corben', Georgia, Times, serif;
font-weight: 550;
font-size: 5vh;
text-align: center;
padding-top: 15vh;
}

.rectangle p {
color: black;
font-family: 'Nobile', Helvetica, Arial, sans-serif;
font-size: 3vh;
padding-left: 30px;
padding-right: 30px;
}

h1 {
text-align: center;
color: #4D368C;
font-family: 'Corben', Georgia, Times, serif;
font-weight: 600;
font-size: 6vh;
padding-top: 2vh;
}

/* navigation options */

getstarted p {
  text-align: center;
}

addpeople p {
text-align: center;
}

choosedt p {
text-align: center;
}

meeting p {
text-align: center;
}

signin{
display: block;
width: 200%;
padding-left: 100px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.event_hover {
  cursor: pointer;
}

/* Meeting.js */
.all-members{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  color: gray;
  font-weight: 100;
  display: flex;
  justify-content: center; 
  text-align: center;
  list-style: none;
  display: block;
  background-color: white;
  overflow: auto;
  width: 400px;
  height: 275px;
}

.all-members li{
  font-size: 25px;
}

.all-members2{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  color: gray;
  font-weight: 100;
  display: flex;
  justify-content: center; 
  text-align: center;
  list-style: none;
  display: block;

  width: 200px;
  height: 5px;
  align-items: center;
}



.meeting-buttons{
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 300 !important;
  margin-top: 35px;
  padding-top: 0px;
  color: black;
  font-weight: 100;
  display: flex;
  justify-content: center; 
  text-align: center;
  display: block;
  background-color: white;
  letter-spacing: -1px;
  width: 380px;
  height: 560px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.meeting-buttons h4 {
  margin-bottom: 5px;
}
.meet-h4 {
  margin-top: -20px;
}

.meeting-button-spacing {
  margin-top: -15px !important;
  margin-bottom: 8px;
}

.meeting-members-box {
 align-items: center;
}

.meeting-members-list {
  overflow: auto;
  width: 350px;
  position:relative;
  display: inline-block;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  height: 150px;
  padding: 0;
  box-shadow: none !important;
  margin-bottom: -15px
}

.meeting-members-list li {
  padding-right: 7px;
  padding-left: 7px;
  font-size: 23px;
}


/* MeetingList meetings format */
.buttons-and-trash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.invite-text {
  display: flex;
  font-size: 15px;
}

.invite-input {
  margin: auto;
}

#invite-wrapper {
  padding: 0 auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: "center";
}

/* MeetingList meetings format */
.buttons-and-trash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}