@font-face {
  font-family: 'Nobile';
  font-family: 'Corben';
  src: url('http://fonts.googleapis.com/css?family=Nobile');
  src: url('http://fonts.googleapis.com/css?family=Corben:bold');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 230, 255);
    /* box-shadow: 3px 3px 7px rgb(117, 117, 117); */
    
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .navbar li a {
    display: block;
    color: #4D368C;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    float: right;
    font-weight: 550;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
  }

  
  .navbar li a:hover {
    background-color: rgb(243, 212, 255);
    /* text-decoration: underline; */
    color: #000000;
  }
  
  .navbar a.title {
    display: block;
    color: #4D368C;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    float: left;
    font-size: 1.25rem;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-weight: 550;
  }

  .navbar a.title:hover {
    background-color: rgb(243, 212, 255);
    /* text-decoration: underline; */
    color: #000000;
  }

  .navbar li a:active{
    background-color: rgb(235, 235, 235);
    text-decoration: underline;
    color: #8B78BF;
  }

  .click {
    cursor: pointer
  }
