@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
}

.list {
  padding-right: 1vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 7px rgb(117, 117, 117);
    
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .navbar li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    float: right;
  }

  
  .navbar li a:hover {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 235, 235);
    text-decoration: underline;
    color: #4D368C;
  }
  
  .navbar a.title {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    float: left;
    font-size: 1.25rem;
  }

  .navbar li a:active{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 235, 235);
    text-decoration: underline;
    color: #8B78BF;
  }

  .click {
    cursor: pointer
  }