@font-face {
  font-family: 'Nobile';
  font-family: 'Corben';
  src: url('http://fonts.googleapis.com/css?family=Nobile');
  src: url('http://fonts.googleapis.com/css?family=Corben:bold');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 7px rgb(117, 117, 117);
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  .navbar li a {
    display: block;
    /*color: #4D368C;*/
    color: rgb(90, 89, 89);
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: right;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar li a:hover {
    background-color: rgb(245, 245, 245);
    text-decoration: underline;
    color: #8671be;
  }
  
  .navbar a.title {
    display: block;
    /*color: #4D368C;*/
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    float: left;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
  }

  .navbar a.title:hover {
    /* background-color: rgb(235, 235, 235); */
    /* text-decoration: underline; */
    color: #000000;
  }

  .navbar li a:active{
    background-color: rgb(235, 235, 235);
    color: #8B78BF;
  }

  .click {
    cursor: pointer
  }
